@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic");


:root {
    --bg: #f4f9fc;
    --line: #7f00e0;
    --fill: #73bbc5;
    --text: #0f1b61;
    --subtext: #73bbc5;
    --duo: #73bbc5;
}

* {
    box-sizing: border-box;
}

body {
    font-size: 100%;
    margin: 0;
    padding: 0;
}

/* Center website */
.main {
    max-width: 1800px;
    margin: auto;
    /* font-family: "Roboto", Helvetica, sans-serif; */
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

.content {
    padding: min(5rem, 4%);
    padding-left: min(10rem, 8%);
    padding-right: min(10rem, 8%);

}

.top {
    background-color: #0f1b61;
    background-size: 100% 100%;
    min-height: 100%;
    vertical-align: middle;
    display: flex;
    justify-content: center; /* Align horizontal */
    align-items: center; /* Align vertical */

}

h1 {
    /* font-family: Bitter,serif; */
    color: #73bbc5;
    font-weight: 100;
    font-size: 2rem;
}

.gallery h1 {
    /* font-family: Bitter,serif; */
    font-weight: 500;
    color: #0f1b61;
}


h2 {
    /* font-family: Bitter,serif; */
    color: #73bbc5;
    font-weight: 100;
    font-size: 1.5rem;

}

hr {
    width: 50rem;
    height: 0.1rem;
    color: #A29DBE;
    background-color: #A29DBE;
    border-width: 0;
    margin-left: 0;
}

p, li {
    color: #0f1b61;
    font-weight: 100;
    font-size: 1rem;
    line-height: 1.4rem;
}


.top p {
    color: #f4f9fc;
    font-weight: 100;
    font-size: 1rem;
    line-height: 1.4rem;
}

.gallery {
    background-color: #f4f9fc;
    background-size: 100% 100%;
}

img {
    border-radius: 0.25rem;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
    transition: ease-in-out 300ms;
    &:hover {
        opacity: 0.5;
    }
}

.row {
    margin: 8px -16px;
    display: flex;
    align-items: center;

}

.row hr {
    width: 8rem;
    height: 0.2rem;
    color: #79789B;
    background-color: #f4f9fc;
    text-align: left;
    border-width: 0;
    margin-left: 0;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row>.column {
    padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
}

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.gallery-content {
    background-color: #f4f9fc;
    padding: 10px;
}

h3 {
    color: #0f1b61;
    font-weight: 600;
    font-size: 1.4rem;
}

/* iframe */

iframe {
    width: 90%;
    height: 85%;
    border: none;
    border-radius: 0.25rem;
    margin-bottom: 0.6rem;
}

iframe, img {
    box-shadow:
    1px 2px 2px #0f1b6133,
    2px 4px 4px #0f1b6133,
    4px 8px 8px #0f1b6133,
    6px 12px 12px #0f1b6133;

}

/* Icon */

.icon {
    text-decoration: none;
    border-bottom: none;
    position: relative;
}

a.icon {
    text-decoration: none;
    border-bottom: none;
    position: relative;
}

.icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    text-transform: none !important;
    font-family: FontAwesome;
    font-weight: 100;
}

.icon>.label {
    display: none;
}

.icon:before {
    line-height: inherit;
}

.icon.solid:before {
    font-weight: 100;
    padding-right: 0.5rem;
}

.icon.brands:before {
    font-family: FontAwesome;
    /* color: #73bbc5; */

}

p.icon {
    color: #7f00e0;
    font-size: 1rem;
}

/* .icon.fa-trophy:before {
    color: #7f00e0;
}

.icon.fa-screwdriver-wrench:before {
    color: #7f00e0;
} */

a {
    position: relative;
    color: inherit;
    text-decoration: none;
  }
  
  a:hover {
    color: #73bbc5;
  }
  
  a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #73bbc5;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.3s ease;
  }
  
  a:hover::before {
    transform: scaleX(1);
  }

a:visited {
    text-decoration: none;
    color: none;
}

.button {
    border: 0;
    line-height: 1.5rem;
    padding: 1rem;
    font-size: 1rem;
    text-align: center;
    color: #f4f9fc;
    border-radius: 0.25rem;
    background-color: #7f00e0;
    text-decoration: none;

}

.button:hover {
    background-color: #748CDB;
    color: #f4f9fc;
    text-decoration: none;

}

.button:active {
    box-shadow:
        inset -2px -2px 3px rgba(255, 255, 255, 0.6),
        inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
  
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}