@import url("fontawesome-all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Roboto&family=Roboto+Serif:opsz@8..144&display=swap');

/* colors
F8F9F7
A29DBE
79789B
7887A6
362E6F 
*/

* {
    box-sizing: border-box;
}

body {
    font-size: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* Center website */
.main {
    /* max-width: 1800px; */
    margin: auto;
}

.content {
    padding: min(5rem, 4%);
    padding-left: min(15rem, 12%);
    padding-right: min(15rem, 12%);

}

.top {
    background-color: #201c3f;
    background-size: 100% 100%;
    min-height: 70%;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    /* Align horizontal */
    /* align-items: center; */
    /* Align vertical */
    /* padding-top: none; */
}

.gallery .content {
    background-color: #F8F9F7;
    background-size: 100% 100%;
    padding-top: none;
}

h1 {
    font-size: 2.2rem;
    color: #F8F9F7;
    font-weight: 600;
}

.top h1 {
    font-size: 3.2rem;
    color: #F8F9F7;
    font-weight: 600;
    letter-spacing: -0.1rem;
}

.gallery h1 {
    color: #362e6f;
}

.gallery h2 {
    color: #362e6f;
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    padding-bottom: 3rem;
}

.top h2 {
    color: #F8F9F7;
}

h3 {
    color: #362e6f;
    font-weight: 600;
    font-size: 1.5rem;
    /* font-family: 'Bitter', serif; */

}

.top h3 {
    color: #A29DBE;
    font-weight: 100;
    font-family: 'Bitter', serif;

}

/* hr {
    width: 50rem;
    height: 0.1rem;
    color: #A29DBE;
    background-color: #A29DBE;
    border-width: 0;
    margin-left: 0;
} */

p,
ul {
    color: #362e6f;
    font-weight: 100;
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-family: 'Bitter', serif;
    letter-spacing: 0.05rem;
}

.top p {
    color: #F8F9F7;
}

.skills p {
    color: #7887A6;
    font-size: 1.2rem;
}

img {
    border-radius: 0.25rem;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
    transition: ease-in-out 300ms;

    /* &:hover {
        opacity: 0.5;
    } */
}

hr {
    width: 8rem;
    height: 0.2rem;
    color: #A29DBE;
    background-color: #A29DBE;
    text-align: left;
    border-width: 0;
    margin-left: 0;
}

.row {
    margin: 8px -16px;
    display: flex;
    align-items: center;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row>.column {
    padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
}

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.gallery-content {
    background-color: #F8F9F7;
    padding: 10px;
}

/* iframe */

iframe {
    width: 90%;
    height: 85%;
    border: none;
    border-radius: 0.25rem;
    margin-bottom: 2rem;

}

iframe,
img {
    box-shadow:
        1px 2px 2px #362e6f33,
        2px 4px 4px #362e6f33,
        4px 8px 8px #362e6f33,
        6px 12px 12px #362e6f33;
}

/* Icon */

a.icon {
    color: #A29DBE;
    font-size: 2rem;
    padding-right: 1rem;
}

.icon {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: inherit;
    padding-right: 0.5rem;
    text-transform: none !important;
    font-family: FontAwesome;
    font-weight: 100;
    transition: all .2s cubic-bezier(.25, .46, .45, .94);
}

.icon>.label {
    display: none;
}

/* .icon.fa-trophy {
    color: gold;
} */

.fa-map {
    color: #A29DBE;
}

.icon.rotate {
    font-size: 1.2rem;
    transform: rotate(45deg) translate(0.3rem, 0rem);
}

.icon.rotate:hover {
    transform: translate(42px, 18px);
}

.link-hover {
    font-family: 'Roboto', sans-serif;
}

.link-hover:hover {
    letter-spacing: 0.05rem;
    transition: all .2s cubic-bezier(.25, .46, .45, .94);
}

.link-hover:hover>.icon.rotate {
    transform: rotate(45deg) translate(0.3rem, -0.5rem);
}

.contact-icons {
    margin-top: 6rem;
    margin-bottom: 4rem;
}

.contact-icons i {
    padding-right: 1rem;
}

.contact-icons p {
    color: #A29DBE;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #A29DBE;
}

a.icon:hover,
.top h3 a:hover,
.contact-icons p a:hover {
    color: #F8F9F7;
}

.top .icon:hover {
    letter-spacing: normal;
}

a:visited {
    text-decoration: none;
    color: none;
}

.button {
    border: 0;
    line-height: 1.5rem;
    padding: 1rem;
    font-size: 1.2rem;
    text-align: center;
    color: #F8F9F7;
    border-radius: 0.25rem;
    background-color: #79789B;
}

.button:hover {
    background-color: #A29DBE;
    color: #F8F9F7;
}

.button:active {
    box-shadow:
        inset -2px -2px 3px rgba(255, 255, 255, 0.6),
        inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}